---
---

<header
  class="flex w-full justify-between border-b border-gray-5 bg-gray-3 py-4 px-10"
>
  <a href="/" class="flex items-center gap-3 fill-blue-9">
    <svg
      class="hover:animate-ping"
      width="19"
      height="20"
      xmlns="http://www.w3.org/2000/svg"
      id="logo-glyph"
    >
      <path
        d="M7.06 16.66V20l11.332-.016V16.66H7.06ZM0 0v4.143l5.728 2.245L0 8.6v4.16l11.027-4.77V4.786"
      ></path>
    </svg>
    <span class="text-lg font-medium text-blue-12">Learn</span>
  </a>
</header>
