.mainContainer {
    max-width: 800px;
    margin: auto;
    padding: 10px;
    display: flex;
    flex-direction: row;
}

.secondaryArticles {
    display: flex;
    flex-direction: column;
    gap: 30px;
    flex-grow: 2;
}

.filtersContainer {
    flex-grow: 1;
}

@media only screen and (max-width: 600px) {
    .mainContainer {
        flex-direction: column-reverse;
    }
}
