.container {
    margin: 10px;
}

.nav {
    width: 100%;
    position: fixed;
    background: linear-gradient(90deg, #2e1900, #001124);
    z-index: 1;
}

.navContainer {
    display: flex;
    align-content: center;
    max-width: 1000px;
    margin: auto;
    padding: 30px;
}

.leftContainer {
    padding: 1px 6px;
    visibility: hidden;
}

.pageHeader {
    margin: 0;
    margin-left: 30px;
    color: #eee;
}

.middleContainer {
    flex-grow: 1;
    justify-content: center;
    display: flex;
}

.middleStack {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.rightContainer {
    display: flex;
    align-content: center;
    justify-self: right;
    justify-content: space-evenly;
    position: sticky;
}

.pageLink {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: right;
    text-decoration: none;
    color: white;
}

.dropdownContent {
    background-color: #fff;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0px 0px 1px #bbb;
}

.dropdownItem {
    padding: 15px;
    transition: 0.1s;
    font-size: larger;
    text-decoration: none;
}

.dropdownItem:hover {
    background-color: #bbb;
    border: none;
    outline: none;
    cursor: pointer;
}

.dropdownTrigger {
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
}

.learningPlatform {
    text-align: center;
    color: white;
    padding-top: 5px;
    font-size: larger;
}
