.linkContainer {
    text-decoration: none;
    color: black;
    display: flex;
    background-color: aquamarine;
    flex-grow: 4;
}

.footerContainer {
    display: flex;
    align-items: center;
    gap: 5px;
    color: #aaa;
    font-size: small;
}

.imageContainer {
    height: 100px;
    width: 150px;
    flex-grow: 1;
    background-color: blue;
}

.leftContainer {
    flex-grow: 1;
    background-color: yellow;
    overflow: hidden;
}
