.linkContainer {
    text-decoration: none;
    color: black;
    display: flex;
    flex-direction: row;
}

.footerContainer {
    display: flex;
    align-items: center;
    gap: 5px;
    color: #aaa;
    font-size: small;
}

.imageContainer {
    flex-grow: 1;
    background-color: transparent;
}

.leftContainer {
    overflow: hidden;
    max-width: 75%;
}

.description {
    text-overflow: ellipsis;
    flex-wrap: wrap;
}

.cardTitle {
    font-size: 1.2em;
}
