---
import { HomePageFactory } from "../components/factories/HomePageFactory";
import RootLayout from "../layouts/RootLayout.astro";
import type { HomePageResponse } from "../strapi";

const response = await fetch(
  `${import.meta.env.API_URL}/api/home-page?populate=*`
);
const { data } = (await response.json()) as HomePageResponse;
---

<RootLayout>
  <h1>Home</h1>
  {
    data && data.attributes ? (
      <HomePageFactory client:load />
    ) : (
      <p>Uh oh! Something went wrong</p>
    )
  }
</RootLayout>
