h1 {
    font-size: xx-large;
}

h2 {
    font-size: x-large;
}

h3 {
    font-size: large;
}

.rehype-code-title {
  background-color: rgb(206, 236, 242);
  margin: 13px 0 0;
  padding: 0.4rem 1.2rem;
  text-align: center;
  font-family: monospace;
  font-style: italic;
  border-radius: 0.9rem 0.9rem 0 0 ;
}

code {
    background-color: rgb(237, 237, 237);
    padding: 1.6px 6px;
    border-radius: 4px;
    color: rgb(48, 79, 206);
}

pre {
    margin: 0 0 13px;
}

pre > code.hljs {
    /* background-color: rgb(240, 240, 240); */
    background-color: rgb(47, 52, 72);
    padding: 0.8rem 1.2rem;
    border-radius: 0 0 0.9rem 0.9rem;
}
