:root {
  --max-screen-width: 768px;
  --side-padding: 1.2rem;
  --header-height: 4.2rem;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Inter var', sans-serif;
}

html {
  overflow-x: hidden;
  background-color: #f4f4f4;
}

a {
  color: #3f89f1;
  text-decoration-thickness: 0.5px;
}

a:hover {
  color: #69a2f3;
}

table {
  border-collapse: collapse;
}

th,
td {
  /* border: 1px solid black; */
  padding: 8px;
}

.vertically-centered {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
